body {
    
    background-image: url(pages.jpg);
     background-attachment: fixed; 

}

#mainDiv {
    padding: 24% 25% 0% 35%;
}

label{
    font-size: 45px;
    font-weight: bold;
    padding: 15%;
    color: silver;
}
input{
    font-size: 35px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 25px;
}
button{
    font-size: 40px;
    margin-left: 27%;
    border-radius:80px;


}
a {
    text-decoration: none;
    font-style: italic;
    line-height: 70px;
    font-size:35px;
    font-weight: bold;
    color:rgb(184, 162, 39) ;
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;

} 
#res  {
    position: relative;
    animation: mymove 2s ;
    text-align: center; 
    animation-iteration-count: 1;
   animation-timing-function: reverse;
    width: 100%;
}

@keyframes mymove {
    from {right: 300px;}
    to {right: 1px;}
}