body {
  background-image: url(../photos/backgroundcolor.jpg);
  width: 100%;
}
.imgDiv {
  width: 250px;
  padding-top: 10px;
}
.imgDivTwo {
  width: 250px;
  padding-top: 20px;
}
a {
  text-decoration: none;
  font-style: italic;
  line-height: 70px;
  font-size: 35px;
  font-weight: bold;
  color: gold;
}
a:hover {
  color: gold;
  text-decoration: none;
}
h1 {
  color: blanchedalmond;
  text-align: center;
  margin: 0px;
  font-style: italic;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#mainDiv {
  height: 5%;
  width: 100%;
  margin-left: 1%;
}

#para {
  text-align: justify;
  font-size: 21px;
  color: #ffea00;

  padding: 0px 20px 0px 10px;
  line-height: normal;
}
img {
  padding: 0px 20px 0px 5px;
  margin: 0px 10px 0px 5px;
}
